---
import Logo from '../common/Logo.astro';
import FooterSocials from '../structures/FooterSocials.astro';
import { SkillType, getSkillTitle, getSkillLink } from '~/utils/skills';

interface Link {
  href: string;
  text: string;
}

const contentPolicy: Link = {
  href: '/content-policy',
  text: 'Content Usage Policy',
};
const sitemap: Link = {
  href: '/sitemap-index.xml',
  text: 'Sitemap',
};

const footerCenterLinks: Array<Link> = [
  {
    href: '/',
    text: 'Home',
  },
  {
    href: '/about-me',
    text: 'About Me',
  },
  {
    href: '/skills',
    text: 'My Skills',
  },
  {
    href: '/services',
    text: 'My Services',
  },
  {
    href: '/gallery',
    text: 'Gallery',
  },
  {
    href: '/contacts',
    text: 'Contacts',
  },
  {
    href: '/blog',
    text: 'Blog',
  },
  {
    href: '/donate',
    text: 'Donate',
  },
  {
    href: '/vacancies',
    text: 'Vacancies',
  },
  {
    href: '/user-agreement',
    text: 'User Agreement',
  },
  {
    href: '/privacy-policy',
    text: 'Privacy Policy',
  },
  {
    href: '/content-policy',
    text: 'Content Usage Policy',
  },
  {
    href: '/offer-agreement',
    text: 'Public Offer Agreement',
  },
];

const footerRightLinks: Array<Link> = [
  {
    href: getSkillLink(SkillType.CrisisManagement),
    text: getSkillTitle(SkillType.CrisisManagement),
  },
  {
    href: getSkillLink(SkillType.BusinessAnalysis),
    text: getSkillTitle(SkillType.BusinessAnalysis),
  },
  {
    href: getSkillLink(SkillType.MarketingAndAdv),
    text: 'Marketing',
  },
  {
    href: getSkillLink(SkillType.InternetMarketing),
    text: 'Digital Marketing',
  },
  {
    href: getSkillLink(SkillType.BusinessDevelopment),
    text: getSkillTitle(SkillType.BusinessDevelopment),
  },
  {
    href: getSkillLink(SkillType.SalesManagement),
    text: getSkillTitle(SkillType.SalesManagement),
  },
  {
    href: getSkillLink(SkillType.FindInvestments),
    text: getSkillTitle(SkillType.FindInvestments),
  },
  {
    href: getSkillLink(SkillType.BusinessCommunicationAndMediation),
    text: 'Mediation',
  },
  {
    href: '/blog/business-psychology',
    text: 'Business Psychology',
  },
  {
    href: '/project/architect-of-personal-brands',
    text: 'Personal Brand',
  },
  {
    href: '/blog/merger-acquisition',
    text: 'Dubai. New Era',
  },
];
---

<footer class="bg-primary">
  <div class="container mx-auto py-9">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div class="flex flex-col gap-10 justify-start items-center text-center md:items-start md:text-left">
        <Logo variant="dark" />
        <FooterSocials />
        <p class="text-white text-sm">&copy; Author Sergey Vyacheslavovich P., Business Pathfinder</p>
        <p class="text-white text-sm">
          All materials on this website are protected by copyright. Copying and use of content without the author's
          written permission is strictly prohibited. For more details, see <a
            href={contentPolicy.href}
            rel="noopener noreferrer">{contentPolicy.text}</a
          >
        </p>
        <p class="text-white text-sm"><a href={sitemap.href} rel="noopener noreferrer">{sitemap.text}</a></p>
      </div>
      <div>
        <ul class="flex flex-col gap-5 justify-center items-center text-center md:items-start md:text-left">
          {
            footerCenterLinks.map((link) => (
              <li>
                <a href={link.href} rel="noopener noreferrer" class="text-white hover:underline">
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <ul class="flex flex-col gap-5 justify-center items-center text-center md:items-start md:text-left">
          {
            footerRightLinks.map((link) => (
              <li>
                <a href={link.href} rel="noopener noreferrer" class="text-white hover:underline">
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</footer>
