---
import { PROJECT_BASE } from '~/utils/permalinks';
import ProjectCards from '../structures/ProjectCards.astro';
import Button from '../common/Button.astro';
import { type ProjectCardProps as ProjectData } from '~/components/structures/ProjectCard.astro';

interface Props {
  title: string;
  data?: Array<ProjectData>;
  class?: string;
  layout?: {
    columns: number;
    rows: number;
    spans?: Array<{ col?: number; row?: number }>;
  };
}

const { class: className = '', data = [], title, layout } = Astro.props as Props;
---

<div>
  <div class="flex flex-col sm:flex-row items-start sm:items-center justify-between mb-6 gap-2 sm:gap-0">
    <span class="text-xl md:text-2xl font-bold text-primary">{title}</span>
    <Button
      href={PROJECT_BASE}
      type="link"
      variant="underlined"
      text="View All"
      icon="utils/arrow-right"
      iconPosition="right"
      iconClasses="w-2 h-2 text-primary"
    />
  </div>
  <ProjectCards class={className} {data} {layout} />
</div>
