---
import TestLayout from '~/layouts/TestLayout.astro';

import Button from '~/components/common/Button.astro';
import Logo from '~/components/common/Logo.astro';

import IconSkill from '~/components/common/IconSkill.astro';
import { SkillType } from '~/utils/skills.ts';

import { WatchMethod } from '~/components/common/IconWatchMethod.astro';
import IconWatchMethod from '~/components/common/IconWatchMethod.astro';

import Input from '~/components/common/Input.astro';
import Select from '~/components/common/Select.astro';
import Textarea from '~/components/common/Textarea.astro';
import FileUpload from '~/components/common/FileUpload.astro';

const metadata = {
  title: 'Test Page',
  ignoreTitleTemplate: true,
};
---

<TestLayout metadata={metadata}>
  <div class="py-4 px-8 my-8 hidden" style="border: 1px solid black;">
    <h1>Buttons</h1>
    <Button text="Авторизация" variant="primary" type="link" icon="utils/user" iconPosition="right" href="#" />
    <div class="my-4"></div>
    <div class="flex gap-4">
      <Button text="Главная" variant="primary" size="small" type="link" href="#" />
      <Button text="Мои услуги" variant="headerNav" size="small" type="link" href="#" />
      <Button
        text="Записаться"
        variant="primary"
        size="small"
        type="link"
        href="#"
        icon="utils/arrow-right"
        iconPosition="right"
        iconClasses="w-2 h-2"
      />
    </div>
    <div class="my-4"></div>
    <Button
      text="Подробнее"
      variant="underlined"
      type="link"
      href="#"
      icon="utils/arrow-right"
      iconPosition="right"
      iconClasses="w-2 h-2 text-primary"
    />
    <div class="my-2">
      <Button
        text=""
        variant="primary"
        size="small"
        type="link"
        href="#"
        icon="utils/arrow-right"
        iconPosition="right"
        iconClasses="w-2 h-2 m-0"
      />
    </div>
  </div>
  <div class="py-4 px-8 my-8 hidden" style="border: 1px solid black;">
    <h1>Logos</h1>
    <div style="background: black;" class="py-4 px-3">
      <Logo variant="dark" />
    </div>
    <div style="background: rgb(255, 255, 255);" class="py-4 px-3">
      <Logo variant="light" />
    </div>
  </div>
  <div class="py-4 px-8 my-8 hidden" style="border: 1px solid black;">
    <h1>Icons</h1>
    <div>
      <h2>Skills</h2>
      <div class="flex gap-2 items-center">
        <IconSkill type={SkillType.CrisisManagement} />
        <IconSkill type={SkillType.BusinessAnalysis} />
        <IconSkill type={SkillType.BusinessDevelopment} />
        <IconSkill type={SkillType.SalesManagement} />
        <IconSkill type={SkillType.MarketingAndAdv} />
        <IconSkill type={SkillType.InternetMarketing} />
        <IconSkill type={SkillType.BusinessCommunicationAndMediation} />
        <IconSkill type={SkillType.FindInvestments} />
      </div>
      <h2>Watch methods</h2>
      <div class="flex gap-2 items-center">
        <IconWatchMethod type={WatchMethod.YouTube} />
        <IconWatchMethod type={WatchMethod.VK} />
        <IconWatchMethod type={WatchMethod.RuTube} />
      </div>
    </div>
  </div>
  <div class="py-4 px-8 my-8" style="border: 1px solid black;">
    <h1>Forms components</h1>
    <div>
      <h2>Inputs</h2>
      <div class="flex gap-2 items-center">
        <Input placeholder="Введите ваше ФИО" label="Ваше ФИО" id="enter-your-name" />
        <Input placeholder="Введите ваш email" label="Email" id="enter-your-email" type="email" />
        <Input placeholder="Введите номер WhatsApp" label="Номер WhatsApp" id="enter-your-whatsapp" type="tel" />
      </div>
      <h2>Select</h2>
      <div class="flex gap-2 items-center">
        <Select
          id="enter-your-chosen-vacancy"
          label="Выберите вакансию из списка"
          value="Финансовый аудитор"
          options={['Финансовый аудитор', 'Вакансия 1', 'Вакансия 2', 'Вакансия 3']}
        />
      </div>
      <h2>Text areas</h2>
      <div class="flex gap-2 items-center">
        <Textarea placeholder="Напишите что-нибудь о себе" label="Немного о себе" id="enter-information-about-you" />
      </div>
      <h2>Upload file</h2>
      <div class="flex gap-2 items-center">
        <FileUpload
          id="upload-your-resume"
          centerText="Загрузите ваше резюме"
          name="resume"
          accept=".pdf,.docx"
          maxSize={5 * 1024 * 1024}
        />
      </div>
    </div>
  </div>
</TestLayout>
