---
import Image from '~/components/common/Image.astro';
import Button from '../common/Button.astro';

export interface PostCardProps {
  id: string;
  href: string;
  imageSrc?: string;
  label?: string;
  title: string;
  direction?: 'left' | 'right';
}

const {
  id,
  href,
  imageSrc = 'https://dummyjson.com/image/410x260?text=Dummy+Image',
  label,
  title,
  direction = 'right',
} = Astro.props as PostCardProps;

const isRight = direction === 'right';
const containerClass = `flex flex-col ${isRight ? 'md:flex-row' : 'md:flex-row-reverse'} justify-between items-center gap-4 md:gap-6`;
const imageWrapperClass = 'w-full md:w-2/5';
const contentClass = 'w-full md:w-3/5 flex flex-col gap-3';
---

<a href={href} rel="noopener noreferrer" class={containerClass} id={`post-card-${id}`}>
  <div class={imageWrapperClass}>
    <Image src={imageSrc} alt={title} />
  </div>

  <div class={contentClass}>
    <p class="text-sm text-muted-foreground">{label}</p>
    <h3 class="font-heading font-bold text-black uppercase text-lg md:text-xl">{title}</h3>
    <Button
      class="text-left mt-1"
      text="Read More"
      variant="underlined"
      type="button"
      icon="utils/arrow-right"
      iconPosition="right"
      iconClasses="w-2 h-2 text-primary"
    />
  </div>
</a>
